# Node modules
/node_modules
/frontend/node_modules
/server/node_modules

# Environment variables (if any)
/frontend/.env
/server/.env
/webauthn-contract/.env

# WASM worker
/frontend/wasm-worker/pkg
/frontend/wasm-worker/target

# Database files
/server/database.sqlite
/server/database.sqlite-journal
/server/database.sqlite-wal
/server/database.sqlite-shm

# Build output
/frontend/dist
/frontend/dist-ssr
/server/dist
/webauthn-contract/target

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store