NEAR_NETWORK_ID=testnet
PASSKEY_CONTROLLER_CONTRACT_ID=passkey-controller.testnet
WEBAUTHN_CONTRACT_ID=webauthn-contract.testnet
RELAYER_ACCOUNT_ID=webauthn-contract.testnet
RELAYER_PRIVATE_KEY=ed25519:
